body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  direction: rtl;
}

.container.appContainer{
  width: 99%;
  max-width: 99%;
}
.no-padding{
  padding: 0 !important;
}
#searchForm .form-control{
  font-size: 17px;
  width: 24%;
  margin: 1%;
  margin-left: 0;
}
.redMark {
  color: red;
  position: absolute;
  top: 6px;
  right: 0px;
  font-size: 21px;
}
.navbar.navbar-light a{
  height: 100%;
  margin-left: 30px;
/* color: white; */
}
.navbar.navbar-light a{
  margin-left: 2px;
}
tr.reportPlace.active{
  border: 3px solid greenyellow;
}
tr.googlePlace.active{
  border: 3px solid blue;
}
tr.disActive{
  opacity: 0.5;
}
tr.reportPlace{
  border: 3px solid green;
}
tr.reportPlace, tr.googlePlace{
  cursor: pointer;
}
tr.googlePlace th.error{
  color: #FF6F00 !important;
}
tr.separateRow td{
  background-color: black;
  padding: 4px;
}
.modal-header .close {
  padding: 1rem;
  margin: -1rem auto -1rem -1rem !important;
}
#searchForm #searchBox{
  width:74% !important;
  margin: 1%;
}
#submitBtn{
  width: 24%;
}
.tableBox{
  overflow: auto;
  max-height: 70vh;
}
@media only screen and (min-width: 768px) {
  .placeList{
    padding-top:40px;
  }
}
@media only screen and (max-width: 768px ) {
 .placeList{
  padding: 0;
  font-size: 10px;
 }
 h1.titleStyle{
   font-size: 1.5rem;
 }
 h4.titleStyle{
  font-size: 0.8rem;
 }
 #searchForm .form-control{
   width: 48%;
   margin: 1%;
 }
 #searchForm #searchBox{
  width: 67% !important;
  margin: 1%;
}
#submitBtn{
  width: 30%;
}
.tableBox{
  max-height: 50vh;
}
#reportPage .address{
  width: 50%;

}
}
